body {
	background-color: #EEE !important;
	font-family: Roboto,sans-serif;
}
#map {
	height: 100%;
}
#sidebar {
	background-color: #FFF;
	height: 100%;
}
#spinny {
	position: absolute;
	z-index: 1;
	font-size: 75px;
	height: 100%;
	text-align: center;
	top: 40%;
	display: none;
}

#spinny div {
	background-color: #333;
	border-radius: 20px;
	opacity: .5;
}

#spinny div img {
	margin: 20px 0;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.full-height {
	height: 100%;
}

.switch {
	margin-top: 10px;
}

.input-daterange {
	padding: 0 15px;
}

.italic {
	font-style: italic;
}

.label {
	display: block !important;
	width: 120px;
}

.label.danger {
	background-color: #981511;
}

.label.not_safe {
	background-color: #d9534f;
}

.label.neutral {
	background-color: #f0ad4e;
}

.label.somewhat {
	background-color: #f0e44e;
}

.label.safe {
	background-color: #5cb85c;
}

.label.unknown {
	background-color: #888;
}

.gm-style-iw h3 {
	margin-top: 5px;
}

